.statisticsModal {
    padding: 3%;
    width: 100%;
    height: calc(80vw / 1276 * 443);

    > h2 {
        @include font-dogica-bold-large;
        height: 30px;
    }

    .statisticsModal__username {
        position: absolute;
        bottom: 10%;
        right: 8%;
        text-align: center;
        width: calc(80vw / 4);
        height: calc(100% / 8);
        display: flex;
        justify-content: center;
        align-items: center;

        > div {
            @include font-dogica-bold-large;
        }
    }

    .statisticsModal__scrollDown {
        position: absolute;
        bottom: 8%;
        right: 42%;
        transform: rotate(90deg);
        z-index: 1;
        cursor: pointer;
    }

    .statisticsModal__data {
        width: calc(80vw / 1.8);
        height: calc(100% - 30px);
        overflow-y: scroll;
        position: relative;

        .statisticsModal__data__section {
            width: 80%;
            margin-bottom: 20px;
            padding-left: 3px;

            .statisticsModal__data__topic {
                display: flex;
                padding-bottom: 3px;

                > div:first-of-type {
                    width: 50%;
                }

                > div:last-of-type {
                    width: 50%;
                }
            }

            .statisticsModal__data__topic:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }

    .statisticsModal__data::-webkit-scrollbar {
        display: none;
    }
}
