// FONT //

// Size
$font-size-dogica: 12px;
$font-size-dogica-large: 15px;
$font-size-VT323: 20px;
$font-size-VT323-large: 24px;

// Line Height
$line-height-dogica: 16px;
$line-height-dogica-large: 18px;
$line-height-VT323: 17px;
$line-height-VT323-large: 21px;

// Letter Spacing
$letter-spacing-dogica: -3px;
$letter-spacing-dogica-bold: -1.5px;
$letter-spacing-VT323: 0;
