.userInfo {
    position: relative;
    width: 200px;
    cursor: pointer;

    > .userInfo--background {
        position: absolute;

        img {
            width: 200px;
        }
    }

    > .userInfo--foreground {
        width: 100%;
        height: 150px;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: end;
        pointer-events: all;

        > div {
            width: 120px;
            display: flex;
            justify-content: space-between;
            align-items: bottom;
        }
    }
}
