.loadingModal {
    width: 100%;
    height: calc(80vw / 1276 * 563);

    .loadingModal__inner {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 999;

        img {
            margin-top: 50px;
            max-width: 150px;
            height: auto;
        }
    }
}
