.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    z-index: 999;

    .modal--inner {
        position: relative;
        width: 80vw;
        height: 0;

        background-color: #fff;

        .modal--inner--background {
            position: absolute;
            width: 100%;

            img {
                width: 100%;
            }
        }

        .modal--inner--foreground {
            position: absolute;
            z-index: 1;
            width: 100%;

            .modal--inner__children {
                position: relative;
                width: 100%;
            }
        }
    }
}
