.progressBar {
    display: flex;

    .progressBar__max {
        width: 30px;
        text-align-last: right;
    }

    .progressBar__bar {
        width: 100%;
        background-color: #555;
        border-radius: 5px;
        overflow: hidden;

        .progressBar__bar__inner {
            background-color: lightblue;
            height: 100%;
            border-radius: 5px;
            display: flex;
            justify-content: center;
        }
    }
}
