@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@font-face {
    font-family: "dogica";
    src: url("../../assets/font/dogica.ttf") format("truetype");
}

@font-face {
    font-family: "dogica";
    src: url("../../assets/font/dogicabold.ttf") format("truetype");
    font-weight: bold;
}
