.actionsModal {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 80px;
    padding: 10px 0;

    > button {
        background-color: transparent;
        border: none;
        margin-left: 10px;
        opacity: 0.7;
        cursor: pointer;

        > img {
            width: 60px;
        }
    }

    > button:hover {
        opacity: 1 !important;
    }

    > button:active {
        opacity: 1 !important;
    }
}
