.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;

    .modal--inner {
        background-color: #fff;
        height: 100%;
        border-radius: 10px;
        padding: 20px;

        header {
            display: flex;
            justify-content: space-between;
            height: 50px;
        }

        .modal--inner__children {
            height: calc(100% - 50px);

            .buildModal--inner {
                border-radius: 10px;
                overflow: auto;
                background-color: #eee;
                height: 100%;
                padding: 20px 0;

                h2 {
                    margin: 0 20px;
                }

                .buildingSelector {
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                }

                .houseCard {
                    flex: 1 1;
                    min-width: 300px;
                    padding: 20px;
                    border-radius: 10px;
                    background-color: #fff;
                    margin: 20px;

                    img {
                        min-width: 100px;
                        max-width: 100px;
                    }
                }
            }
        }
    }
}
